* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  background: url('../img/wallhaven-dpoqrg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover
}

body {
  width: 100vw;
  height: 100vh;
  font-family: "Roboto Flex", sans-serif;
}

.active {
  display: none;
}

/* menu */
nav {
  width: 100%;
  padding: 15px 20px;
  position: absolute;
  top: 0;
  left: 0;
}

nav .menu-icon {
  font-size: 2rem;
 /*  color: white; */
}

.menu-movil {
  height: 100vh;
  padding: 20px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #0e1217;
  z-index: 1;
  text-align: center;
}

.menu-movil div h3 {
  font-size: 1.8rem;
  color: white;
  display: flex;
  align-items: center;
}

.menu-movil div .logo {
  display: flex;
  margin-bottom: 30px;
}

.menu-movil div .img {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  color: #6a6a6a;
  margin-right: 2px;
}

.menu-movil div p {
  padding: 8px 0;
}

.menu-movil div p a {
  color: white;
  text-decoration: none;
  font-size: 1.6rem;
}

.menu-movil div p a:hover {
  color: #182d47;
}

.menu-movil div .current-movil {
  color: #182d47;
}

.menu-movil div .p {
  width: 2px;
  background-color: #182d47;
  height: 4rem;
  margin: 0 auto;
}

.logo-desktop {
  display: none;
}

.menu-desktop {
  width: 100%;
  display: none;
}

.menu-desktop div {
  display: flex;
  justify-content: flex-end;
}

.menu-desktop div a {
  font-family: "Roboto Flex", sans-serif;
  font-size: 1.8rem;
  color: white;
  text-decoration: none;
  margin-left: 20px;
  padding: 5px 10px;
  border-radius: 2px;
  border-bottom: 2px solid #182d47;
}

.menu-desktop div a:hover {
  background-color: #182d47;
}

.current {
  background-color: #182d47;
}


/* mediaquery */
@media (min-width: 375px) {}

@media (min-width: 480px) {}

@media (min-width: 575px) {
  .menu-desktop {
    display: flex;
    width: auto;
    margin-left: auto;
    align-items: center;
  }

  .menu-movil-container {
    display: none;
  }

  nav {
    padding: 20px;
    display: flex;
  }

  .logo-desktop {
    display: flex;
  }

  .logo-desktop .img {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    color: #6a6a6a;
    margin-right: 2px;
  }

  .logo-desktop h3 {
    font-size: 1.8rem;
    color: white;
    display: flex;
    align-items: center;
  }

  .container-centro {
    padding-top: 10rem;
  }

  .text {
    width: 100%;
    max-width: 575px;
    min-width: 300px;
  }

  .formulario form {
    display: none;
  }
  .formulario form input{
    border-bottom: 2px solid white;
  }
  .formulario .btn-desktop{
    display: block;
  }
  .formulario .form-desktop {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: auto;
    gap: 10px;
    width: 100%;
    max-width: 575px;
    min-width: 300px;
  }

  .formulario .form-desktop label {
    background-color: transparent;
  }

  .formulario .form-desktop label input {
    border-top: 2px solid #145eb8;
    margin-top: 10px; 
    padding: 10px 0px;
  }

  .formulario button {
    width: 100%;
    max-width: 360px;
    min-width: 300px;
    margin: 0 auto;
    margin-top: 20px;
    background-color: #182d47;
    color: white;
    font-size: 1.6rem;
    border-style: none;
    width: 100%;
    height: 4rem;
    margin-top: 15px;
    border-radius: 2px;
  }
}