* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  background: url("../img/wallhaven-dpoqrg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  width: 100vw;
 /*  height: 100vh; */
  font-family: "Roboto Flex", sans-serif;
  color: white;
  overflow-x: hidden;
}

.active {
  display: none;
}

/* menu */
nav {
  width: 100%;
  padding: 15px 20px;
  position: absolute;
  top: 0;
  left: 0;
}

nav .menu-icon {
  font-size: 2rem;
}

.menu-movil {
  height: 100vh;
  padding: 20px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #001c1d;
  z-index: 1;
  text-align: center;
}

.menu-movil div h3 {
  font-size: 1.8rem;
  color: white;
  display: flex;
  align-items: center;
}

.menu-movil div .logo {
  display: flex;
  margin-bottom: 30px;
}

.menu-movil div .img {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  color: #6a6a6a;
  margin-right: 2px;
}

.menu-movil div p {
  padding: 8px 0;
}

.menu-movil div p a {
  color: white;
  text-decoration: none;
  font-size: 1.6rem;
}

.menu-movil div p a:hover {
  color: aqua;
}

.menu-movil div .current-movil {
  color: aqua;
}

.menu-movil div .p {
  width: 2px;
  background-color: #182d47;
  height: 4rem;
  margin: 0 auto;
}

.logo-desktop {
  display: none;
}

.menu-desktop {
  width: 100%;
  display: none;
}

.menu-desktop div {
  display: flex;
  justify-content: flex-end;
}

.menu-desktop div a {
  font-family: "Roboto Flex", sans-serif;
  font-size: 1.8rem;
  color: white;
  text-decoration: none;
  margin-left: 20px;
  padding: 5px 10px;
  border-radius: 2px;
  border-bottom: 2px solid #182d47;
}

.menu-desktop div a:hover {
  background-color: #182d47;
}

.current {
  background-color: #182d47;
}

/* MAIN CONTAINER */
.container-about {
  width: 100%;
  max-width: 400rem;
  min-width: 30rem;
  padding: 20px;
  padding-top: 8rem;
}
.about-who-am-i h3 {
  padding: 5px 0;
  font-size: 2rem;
}
.about-who-am-i p {
  padding: 5px;
  font-size: 1.5rem;
  background-color: rgba(255, 255, 255, 0.171);
  border-radius: 3px;
}

.about-what-i-do h3 {
  font-size: 2rem;
  padding: 5px 0;
}
.about-what-i-do h4 {
  font-size: 1.5rem;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.171);
  border-radius: 3px;
}

/* conatiner right */
.about-language h3 {
  padding: 5px 0;
  font-size: 2rem;
}
.hr1 {
  height: 2px;
  border: none;
  background: aqua;
  background: linear-gradient(
    90deg,
    aqua 100%,
    rgba(252, 176, 69, 0) 100%
  );
}
.hr2 {
  height: 2px;
  border: none;
  background: aqua;
  background: linear-gradient(
    90deg,
    aqua 25%,
    rgba(252, 176, 69, 0) 25%
  );
}
.about-language p {
  padding: 5px;
  font-size: 1.5rem;
  background-color: rgba(255, 255, 255, 0.171);
  border-radius: 3px;
  margin-top: 5px;
}

.about-education h3{
  padding: 5px 0;
  font-size: 2rem;
}
.about-education ul {
  padding: 5px;
  font-size: 1.5rem;
  background-color: rgba(255, 255, 255, 0.171);
  border-radius: 3px;
  list-style: none;
}
.about-education ul li{
  padding-top: 5px;
  padding-left: 15px;
  position: relative;
  font-size: 1.4rem;
}
.about-education ul li::before{
  content: "•";
  left: 0;
  position: absolute;
  color: aqua;
}

.about-contact{
 /*  background-color: darkblue; */
}
.about-contact h3{
  padding: 5px 0;
  font-size: 2rem;
}
.about-contact p{
  padding: 5px;
  font-size: 1.5rem;
  background-color: rgba(255, 255, 255, 0.171);
  border-radius: 3px;
}
/* Footer */
footer {
  padding: 10px;
  width: 100vw;
  height: 18rem;
}
footer h3{
  font-size: 2rem;
  text-align: center;
}
footer .skills {
  width: 100%;
  display: flex;
  margin: 0 auto;
  padding: 10px 5px;
  gap: 5px;
  margin: 1.6rem 0;
  border-radius: 3px;
}
footer .skills div{
  background-color: rgba(255, 255, 255, 0.171);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  width: 80px;
  height: 70px;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  margin: 0 auto;
}
footer .skills div i{
  padding: 8px;
  font-size: 3rem;
}
.skills .ht i{
  color: firebrick;
}
.skills .css i{
  color: 
  rgb(12, 161, 219);
}
.skills .js i{
  color: #f1d72e;
}
/* MEDIAQUERY*/
@media (min-width: 375px) {
  .container-about p{
    font-size: 1.6rem;
  }
  .container-about h3{
    font-size: 2.4rem;
  }
  .container-about h4{
    font-size: 1.6rem;
  }
  .about-education ul li{
    font-size: 1.6rem;
  }
  footer h3{
    font-size: 2.4rem;
  }
  footer p{
    font-size: 1.6rem;
  }
}

@media (min-width: 480px) {
}

@media (min-width: 575px) {
  .menu-desktop {
    display: flex;
    width: auto;
    margin-left: auto;
    align-items: center;
  }

  .menu-movil-container {
    display: none;
  }

  nav {
    padding: 20px;
    display: flex;
  }

  .logo-desktop {
    display: flex;
  }

  .logo-desktop .img {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    color: #6a6a6a;
    margin-right: 2px;
  }

  .logo-desktop h3 {
    font-size: 1.8rem;
    color: white;
    display: flex;
    align-items: center;
  }
}
