* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

.inactive {
  display: none;
}

body {
  background-color: #253446;
  font-family: sans-serif;
}

main {
  width: 100vw;
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
      135deg,
      rgba(37, 52, 70, 1) 5%,
      rgba(1, 217, 216, 1) 6%,
      rgba(37, 52, 70, 1) 7%,
      rgba(37, 52, 70, 1) 10%,
      rgba(1, 217, 216, 1) 11%,
      rgba(37, 52, 70, 1) 12%,
      rgba(37, 52, 70, 1) 70%,
      rgba(1, 217, 216, 1) 71%,
      rgba(37, 52, 70, 1) 72%,
      rgba(37, 52, 70, 1) 75%,
      rgba(1, 217, 216, 1) 76%,
      rgba(37, 52, 70, 1) 77%
    );
}

/* menu-------------------- */

.menu-flotante {
  width: 85%;
}

.menu-flotante-nav {
  display: flex;
  /*  flex-direction: column; */
  padding: 10px;
  background: linear-gradient(
    135deg,
    rgba(25, 33, 54, 1) 14%,
    #01d9d8 15%,
    rgba(25, 33, 54, 1) 16%,
    rgba(25, 33, 54, 1) 84%,
    #01d9d8 85%,
    rgba(25, 33, 54, 1) 86%
  );
  box-shadow: 2px -2px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px -2px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px -2px 5px 0px rgba(0, 0, 0, 0.75);
}
.menu-flotante-nav div {
  margin: 0 auto;
  width: 100%;
}

.menu-vertical .menu-flotante-nav a {
  text-decoration: none;
  color: white;
  /* border-left: 2px solid white; */
  font-size: 1.6rem;
  width: 130px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.menu-vertical .menu-flotante-nav a:hover {
  background-color: rgba(220, 220, 220, 0.378);
  border-radius: 2px;
}

.menu-vertical {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-top: 20px;
  padding-right: 20px;
}

.menu-vertical .menu {
  color: #fff;
  padding-right: 5px;
  font-size: 2rem;
  cursor: pointer;
}

.menu-vertical .exit {
  color: #fff;
  /*  padding: 5px 10px; */
  padding-left: 20px;
  font-size: 2rem;
  cursor: pointer;
}

.icon-horizontal {
  position: absolute;
  display: flex;
  width: 100%;
  left: 0;
  bottom: 0;
  padding: 10px;
  align-items: center;
}

.icon-horizontal .line2 {
  width: 70%;
  height: 2px;
  background: #01d9d8;
}

.icon-horizontal .icon-centro {
  width: 30%;
  padding: 10px 0;
  /* background-color: rebeccapurple; */
  text-align: center;
  background-color: #192136;
  box-shadow: 2px -2px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px -2px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px -2px 5px 0px rgba(0, 0, 0, 0.75);
  /*   position: relative; */
}

.icon-horizontal .icon-centro a {
  font-size: 1.6rem;
  padding: 0 5px;
  color: white
}

.icon-horizontal .icon-centro a:hover {
  color: #01d9d8;
}

/* main-------------------------------------- */
h1 {
  font-size: 4.5rem;
  color: #253446;
  background: transparent;
  text-shadow: 1px 1px 0 #01d9d8, 1px -1px 0 #01d9d8, -1px 1px 0 #01d9d8,
    -1px -1px 0 #01d9d8, 1px 0px 0 #01d9d8, 0px 1px 0 #01d9d8,
    -1px 0px 0 #01d9d8, 0px -1px 0 #01d9d8;
  transition: 1s;
  position: relative;
  z-index: 1;
}

h1::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 0;
  border-bottom: 2px solid #fff;
  /*   background-color: rgba(255, 255, 255, 0.452); */
  transition: 0.4s all ease-in-out;
}

h1:hover::before {
  width: 100%;
}

.section-movil {
  /*   background-color: red; */
  color: white;
}

.section-movil .p-love {
  font-size: 2.2rem;
  margin: 5px 0;
}

.section-movil h3 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.section-movil h3 span {
  font-weight: 300;
}

.line {
  width: 40px;
  height: 2px;
  margin: 15px 0;
  background-color: #01d9d8;
}

.text-icon {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.p-about {
  font-size: 1.6rem;
  margin-right: 10px;
}

.p-icon {
  display: flex;
  align-items: center;
}

.p-icon i {
  font-size: 1.8rem;
  color: #01d9d8;
}

.section-descktop {
  display: none;
}

/* Mediaquery */
@media (min-width: 480px) {
  main {
    background: linear-gradient(
      135deg,
      rgba(37, 52, 70, 1) 5%,
      rgba(1, 217, 216, 1) 6%,
      rgba(37, 52, 70, 1) 7%,
      rgba(37, 52, 70, 1) 10%,
      rgba(1, 217, 216, 1) 11%,
      rgba(37, 52, 70, 1) 12%,
      rgba(37, 52, 70, 1) 70%,
      rgba(1, 217, 216, 1) 71%,
      rgba(37, 52, 70, 1) 72%,
      rgba(37, 52, 70, 1) 75%,
      rgba(1, 217, 216, 1) 76%,
      rgba(37, 52, 70, 1) 77%
    );
  }
  h1 {
    font-size: 6rem;
  }

  .section-movil .p-love {
    font-size: 2.8rem;
  }

  .section-movil h3 {
    font-size: 3rem;
  }

  .menu-flotante-nav {
    background: #192136;
  }
  .menu-flotante-nav div {
    display: flex;
    justify-content: space-evenly;
  }
}

@media (min-width: 600px) {
  h1 {
    font-size: 7rem;
  }
}

@media (min-width: 768px) {
  h1 {
    font-size: 7rem;
  }
  .menu-flotante {
    width: auto;
  }

  .section-movil {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .section-descktop {
    display: block;
    width: 30%;
    height: 100vh;
    background-color: #19212b;
    box-shadow: 10px 0px 17px -1px rgba(0, 0, 0, 0.75) inset;
    -webkit-box-shadow: 10px 0px 17px -1px rgba(0, 0, 0, 0.75) inset;
    -moz-box-shadow: 10px 0px 17px -1px rgba(0, 0, 0, 0.75) inset;
  }

  .contain-descktop {
    width: 70%;
    margin: auto;
    margin-top: 50px;
  }

  .section-descktop h2 {
    color: white;
    font-size: 4rem;
  }

  .section-descktop .h2-1 {
    color: gray;
  }

  .section-descktop .h2-3 {
    color: #01d9d8;
  }

  .section-descktop p {
    color: white;
    font-size: 1.6rem;
    letter-spacing: 2px;
    line-height: 2rem;
  }

  .icon-horizontal {
    width: 70%;
  }

  .menu-vertical {
    width: 70%;
    /*   background-color: red; */
  }
}

/* @media (min-width: 180px) {
  .icon-horizontal .icon-centro .img-stich {
    width: 100%;
    height: 330%;
  } */
