:root {
  --verde: #0c443a;
  --limon: #01D9D8;
  --degradado: linear-gradient(90deg, var(--limon), var(--verde));
}

* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  /* para que la primera letra del menu siempre este en mayuscula */
}

/* *::selection{
    background: var(--limon);
    color: white;
} */
html {
  font-size: 62.5%;
  overflow-x: hidden;
  
  /* para no tener ningun problema ABERIGUAR */
}

body {
  background: white;
}

/* Header-------------------------------------------------- */
header {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
    to top,
    #192136 0%,
    #192136 50%,
    #1F2942 50%,
    #1F2942 100%
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  
}
header .logo{
  background-image: linear-gradient(330deg, #324359
   50%, #01D9D8 70%);
  background-size: 100%;
  background-repeat: repeat;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  transition: 1s;
  font-size: 5rem;
}
header .logo:hover{
  background-image: linear-gradient(150deg, #324359
   50%, #01D9D8 70%);
}

.frontend {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
}

.front-left {
  width: 50%;
  height: 3px;
  background-color: #fff;
  border-style: double; border-width: 4px; 
}

.front-rigth {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  font-weight: bold;
  border-color: var(--limon);

  border-style: double; border-width: 4px; 
   
 /*  border-bottom: 3px solid var(--limon);
  border-left: 3px solid var(--limon); */
}

.front-rigth a {
  color: #fff;
  font-family: 'Roboto Slab', serif;
}

.container-icon {
  width: 100vw;
  height: 10%;
  display: flex;
  align-items: center;
}

.icon-bacio {
  background-color: var(--limon);
  width: 50%;
  height: 3px;
  border-style: double; border-width: 4px; 
}

.icon {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-color:  #fff;
  border-style: double; border-width: 4px; 
 /*  border-top: 3px solid #fff;
  border-left: 3px solid #fff; */
}

.icon a {
  font-size: 1.8rem;
  width: 30px;
  height: 30px;
  color: var(--limon);
  /*   border: 2px solid var(--limon); */
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  transition: 0.5s;
}

.icon a:hover {
  font-size: 2.5rem;
  color: white;
}

/* nav---------- */
.invicible {
  /*  width: 200px; */
  text-align: end;
}

.exit {
  font-size: 1.8rem;
  color: rgba(255, 255, 255, 0.9);
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #324359;
  border-radius: 50%;
  margin-left: 10px;
  border-color: var(--limon);
  border-style: double; border-width: 5px; 
}

.exit:hover {
  color: var(--limon);
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

#menu {
  list-style: none;
  /*   width: 200px; */
}

#menu li {
  margin: 8px 0;
  position: relative;
  background-color: #324359;
  border-radius: 5px;
  overflow: hidden;
  text-align: center;
}

#menu li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 5px;
  background-color: #f0f;
  transition: 0.4s all ease-in-out;
}

#menu li:nth-child(1)::before {
  background-color: var(--limon);
}

#menu li:nth-child(2)::before {
  background-color: var(--limon);
}

#menu li:nth-child(3)::before {
  background-color: var(--limon);
}

#menu li:nth-child(4)::before {
  background-color: var(--limon);
}

#menu li:nth-child(5)::before {
  background-color: var(--limon);
}

#menu li:nth-child(6)::before {
  background-color: var(--limon);
}

#menu li:nth-child(7)::before {
  background-color: var(--limon);
}

#menu li:nth-child(8)::before {
  background-color: var(--limon);
}

#menu li:hover::before {
  border-radius: 0 50px 50px 0;
  width: 110%;
}

#menu li a {
  display: block;
  padding: 10px 30px;
  color: #fff;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 500;
  position: relative;
  z-index: 1;
}

nav {
  height: 100vh;
  position: fixed;
  padding-left: 10px;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  /* los elementos simpre se posiciones en la parte superior */
}

.barra {
  position: fixed;
  left: 10px;
  /* padding: 4px 5px;
  padding-top: 5px; */
  width: 30px;
  height: 30px;
  background-color: #324359;
  /* font-size: 2.5rem; */
  font-size: 1.8rem;
  color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-color: var(--limon);
  border-style: double; border-width: 4px; 
}

.barra:hover {
  color: var(--limon);
  cursor: pointer;
}

.active {
  display: none;
}

main {
  background-color: red;
  width: 100vw;
}

#po {
  color: white;
}

/* MAINIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
 */

 @media (min-width: 480px){
  header .logo{
    font-size: 6rem;
  }
  .front-left {
    width: 70%;
    height: 4px;
  }
  .front-rigth {
    width: 30%;
    font-size: 1.8rem;
    /* border-style: double; border-width: 4px solid var(--limon); */ 
   /*  border-bottom: 4px solid var(--limon);
    border-left: 4px solid var(--limon); */
  }
  .icon-bacio {
    height: 4px;
    width: 70%;
  }
  
  .icon {
    width: 30%;
   /*  border-top: 4px solid #fff;
    border-left: 4px solid #fff; */
  }
  .icon a {
    font-size: 2rem;
  }
 
 }
@media (min-width: 768px){
  header .logo{
    font-size: 11rem;
  }
   .barra {
    padding: 20px;
    border-style: double; border-width: 6px;
  }
}