* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

.inactive {
  display: none;
}

body {
  background-color: #253446;
  font-family: sans-serif;
}

main {
  width: 100vw;
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* menu-------------------- */
/* .memu-flotante{
  width: 100%;
} */
.menu-flotante {
  padding: 10px 10px;
  background-color: #19212b;
  box-shadow: 10px 0px 17px -1px rgba(0, 0, 0, 0.75) inset;
  -webkit-box-shadow: 10px 0px 17px -1px rgba(0, 0, 0, 0.75) inset;
  -moz-box-shadow: 10px 0px 17px -1px rgba(0, 0, 0, 0.75) inset;
}

.menu-vertical .menu-flotante a {
  text-decoration: none;
  color: gray;
  font-size: 1.4rem;
  padding: 5px;
  /*   
  border-radius: 5px;
  background: linear-gradient(0deg, transparent, #01D9D8); */
}

.menu-vertical .menu-flotante a:hover {
  color: #fff;
}

.menu-vertical {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /*  background-color: #19212b;
    box-shadow: 10px 0px 17px -1px rgba(0, 0, 0, 0.75) inset;
    -webkit-box-shadow: 10px 0px 17px -1px rgba(0, 0, 0, 0.75) inset;
    -moz-box-shadow: 10px 0px 17px -1px rgba(0, 0, 0, 0.75) inset */
  ;
  display: flex;
  text-align: center;
  align-items: center;
  padding: 10px;
}

.menu-vertical .menu {
  color: #fff;
  padding: 10px 10px;
  padding-right: 20px;
  font-size: 1.6rem;
  cursor: pointer;
}

.menu-vertical .exit {
  color: #fff;
  padding: 5px 10px;
  padding-right: 20px;
  font-size: 1.6rem;
  cursor: pointer;
}

/* .menu-centro{
  display: flex;
  flex-direction: column;
  margin: auto;
} */
/* .menu-centro a{
  padding: 8px 0;
} */

.icon-horizontal {
  position: absolute;
  display: flex;
  width: 100%;
  left: 0;
  bottom: 0;
  padding: 10px;
  align-items: center;
}

.icon-horizontal .line2 {
  width: 70%;
  height: 2px;
  background: #01D9D8;
}

.icon-horizontal .icon-centro {
  width: 30%;
  padding: 10px 0;
  /* background-color: rebeccapurple; */
  text-align: center;
  background-color: #19212b;
  box-shadow: 10px 0px 17px -1px rgba(0, 0, 0, 0.75) inset;
  -webkit-box-shadow: 10px 0px 17px -1px rgba(0, 0, 0, 0.75) inset;
  -moz-box-shadow: 10px 0px 17px -1px rgba(0, 0, 0, 0.75) inset
}

.icon-horizontal .icon-centro a {
  font-size: 1.6rem;
  padding: 0 5px;
  color: gray;
}

.icon-horizontal .icon-centro a:hover {
  color: #fff;
}

/* main-------------------------------------- */
h1 {
  font-size: 4.5rem;
  color: #253446;
  background: transparent;
  text-shadow: 1px 1px 0 #01D9D8, 1px -1px 0 #01D9D8, -1px 1px 0 #01D9D8, -1px -1px 0 #01D9D8, 1px 0px 0 #01D9D8, 0px 1px 0 #01D9D8, -1px 0px 0 #01D9D8, 0px -1px 0 #01D9D8;
  transition: 1s;
  position: relative;
  z-index: 1;
}

h1::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 0;
  border-bottom: 2px solid #fff;
  /*   background-color: rgba(255, 255, 255, 0.452); */
  transition: 0.4s all ease-in-out;
}

h1:hover::before {
  width: 100%;
}

.section-movil {
  /*   background-color: red; */
  color: white;
}

.section-movil .p-love {
  font-size: 2.2rem;
  margin: 5px 0;
}

.section-movil h3 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.section-movil h3 span {
  font-weight: 300;
}

.line {
  width: 40px;
  height: 2px;
  margin: 15px 0;
  background-color: #01D9D8;
  ;
}

.text-icon {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.p-about {
  font-size: 1.6rem;
  margin-right: 10px;
}

.p-icon {
  display: flex;
  align-items: center;
}

.p-icon i {
  font-size: 1.8rem;
  color: #01D9D8;
}

.section-descktop {
  display: none;
}

/* Mediaquery */
@media (min-width: 480px) {
  h1 {
    font-size: 6rem;
  }

  .section-movil .p-love {
    font-size: 2.8rem;
  }

  .section-movil h3 {
    font-size: 3rem;
  }
}

@media (min-width: 600px) {
  h1 {
    font-size: 7rem;
  }

}

@media (min-width: 768px) {
  h1 {
    font-size: 7rem;
  }

  .section-movil {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .section-descktop {
    display: block;
    width: 30%;
    height: 100vh;
    background-color: #19212b;
    box-shadow: 10px 0px 17px -1px rgba(0, 0, 0, 0.75) inset;
    -webkit-box-shadow: 10px 0px 17px -1px rgba(0, 0, 0, 0.75) inset;
    -moz-box-shadow: 10px 0px 17px -1px rgba(0, 0, 0, 0.75) inset;
  }

  .contain-descktop {
    width: 70%;
    margin: auto;
    margin-top: 50px;
  }

  .section-descktop h2 {
    color: white;
    font-size: 4rem;
  }

  .section-descktop .h2-1 {
    color: gray;
  }

  .section-descktop .h2-3 {
    color: #01D9D8;
  }

  .section-descktop p {
    color: white;
    font-size: 1.6rem;
    letter-spacing: 2px;
    line-height: 2rem;
  }

  .icon-horizontal {
    width: 70%;
  }
}