:root {
  --verde: #0c443a;
  --limon: #25d1b2;
  --degradado: linear-gradient(90deg, var(--limon), var(--verde));
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
 /*  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize; */
  /* para que la primera letra del menu siempre este en mayuscula */
}

/* *::selection{
      background: var(--limon);
      color: white;
  } */
html {
  font-size: 62.5%;
  /* overflow: hidden; */
  /* para no tener ningun problema ABERIGUAR */
}

body {
  background: var(--verde);
  color: white;
  width: 100vw;
  height: 100vh;
  font-family: "Varela Round", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Header-------------------------------------------------- */
/*   header {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to top,
        #0c443a 0%,
        #0c443a 50%,
        #25d1b2 50%,
        #25d1b2 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
  } */
main {
    width: 80%;
    max-width: 768px;
    min-width: 320px;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main_top {
    width: 80%;
    max-width: 768px;
    min-width: 320px;
    border-bottom: 2px solid var(--limon);
    /* background-color: rgb(0, 89, 255); */
    /* background-color: rgb(0, 255, 136); */
    padding: 20px 0;
    text-align: center;
  }
  .main_top h2{
    font-size: 2rem;
    margin-bottom: 10px;
  }
  .main_top p{
    font-size: 1.4rem;
    color: var(--limon);
  }
  .main_bottom{
    width: 80%;
    max-width: 768px;
    min-width: 320px;
   /*  background-color: black; */
    padding: 0 8px;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
  }
.archive {
    /* width: 150px; */
    padding: 4px;
    border: 2px solid var(--limon);
    border-radius: 5px;
}
.archive-bottom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.archive-bottom h3{
    font-size: 1.4rem;
    padding: 10px 0;
}

.archive-bottom .img1{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid var(--limon);
    margin-bottom: 10px;
}

.archive-top{
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid var(--limon);
}
.archive-top a{
    color: var(--limon);
    font-size: 1.6rem;
    padding: 5px;
}
.archive-top div{
    display: flex;
    gap: 5px;
}
.archive-top a:hover{
    color: white;
}