:root {
  --verde: #0c443a;
  --limon: #25d1b2;
  --degradado: linear-gradient(90deg, var(--limon), var(--verde));
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--verde);
  /*   width: 100vw;
  height: auto; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Varela Round',
    sans-serif;
  color: white;
  overflow-x: hidden;
}

main {
  width: 80%;
  max-width: 768px;
  min-width: 320px;
}

.main-top {
  /*  background-color: red; */
  border-bottom: 2px solid var(--limon);
}

.main-top h2 {
  text-align: center;
  padding: 20px 0;
  font-size: 2.5rem;
  border: 2px solid var(--limon);
  border-radius: 5px;
  background-color: #25d1b273;
}

.main-top p {
  text-align: center;
  padding: 15px;
  color: var(--limon);
  font-size: 1.6rem;
}

.main-bottom {
  /*   background-color: blue; */
  text-align: center;
  margin: 20px 0;
}

.container-worcks {
  width: 100%;
}

.worck {
  width: 80%;
  /* background-color: firebrick; */
  margin: 0 auto;
  border: 2px solid var(--limon);
  border-radius: 10px 10px 50px 10px;
  padding: 5px;
  margin-bottom: 10px;
}

.worck div {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid var(--limon);
}

.worck div a {
  padding: 10px;
  font-size: 2rem;
  color: var(--limon);
  transition: .5s ease;
}

.worck div a:hover {
  color: white;
}

.worck p {
  padding: 10px 0;
  font-size: 1.4rem;
  border-bottom: 2px solid var(--limon);
  background-color: #25d1b273;
}

.worck img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 3px solid var(--limon);
  margin: 20px 0;
  transition: .5s ease-in-out;
  /*   backdrop-filter: blur(10px); */

}

.worck img:hover {
  width: 200px;
  height: 200px;
  border-radius: 10px 10px 50px 10px;
}