:root {
  --verde: #0c443a;
  --limon: #25d1b2;
  --degradado: linear-gradient(90deg, var(--limon), var(var(--verde)));
}

* {
  font-family: 'Varela Round', sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
}

html {
  font-size: 62.5%;
}

.body-about {
  background-color: var(--limon);
  width: 100vw;
  height: auto;
  /*  */
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* About main */
.container-about {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top-main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 300px;
  max-width: 768px;
}

/* .container-text-about {
  width: 100%;
  padding: 5px 0;
} */

.top-main h2 {
  width: 100%;
  text-align: center;
  padding: 10px 0;
  border: 2px solid var(--verde);
  font-size: 4rem;
  border-radius: 4px;
}

.container-text-about h3 {
  text-align: center;
  padding: 10px 0;
  margin-top: 15px;
  font-size: 1.4rem;
}

.container-text-about p {
  padding: 15px 10px;
  font-size: 1.2rem;
}

/* botton main */
.botton-main {
  width: 100%;
  max-width: 768px;
  min-width: 300px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px 10px;
  margin-top: 10px;
  border-radius: 4px;
}

/* .conatiner-desing {
  padding: 0 5px;
} */

.conatiner-desing .h3 {
  text-align: center;
  padding-bottom: 15px;
  border-bottom: 2px solid var(--limon);
}

.conatiner-desing h3 {
  padding: 5px 0;
  /*  */
  font-size: 1.4rem;
}

.conatiner-desing p {
  padding: 5px 0;
  /*  */
  font-size: 1.2rem;
}

.conatiner-desing section {
  /*  width: 100%; */
  display: flex;
  padding: 10px 0;
}

.conatiner-desing .div {
  width: 70%;
}

.conatiner-desing a {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  color: var(--limon);
}

.container-tecnologi a {
  font-size: 1.2rem;
  display: inline;
  padding: 3px;
}

.container-tecnologi h3 {
  padding-bottom: 10px;
}
@media (min-width: 768px){
  .top-main h2{
    font-size: 6rem;
  }
  .container-text-about h3{
    font-size: 1.8rem;
  }
  .container-text-about p {
    font-size: 1.5rem;
  }
  .conatiner-desing h3{
    font-size: 1.6rem;
  }
  .conatiner-desing p {
    font-size: 1.4rem;
  }
  .conatiner-desing a{
    font-size: 5rem;
  }
  .container-tecnologi a{
    font-size: 1.4rem;
  }
}